DATABASE_URL="postgres://fest_admin:fest_password@localhost:5433/fest_db"
ADMIN_SECRET_KEY="super-secret-fest-key-2026"

GOOGLE_PRIVATE_KEY="super-secret-key"
GOOGLE_SERVICE_ACCOUNT_EMAIL="service.email@gmail.com"
GOOGLE_SHEET_ID=long_sheet_id